.PlaylistInfoContainer {
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(231, 231, 231, 0.9058823529);
  border-radius: 10px;
}
.PlaylistInfoContainer > .PlaylistInfoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.PlaylistInfoContainer > .PlaylistInfoRow:not(.Last) {
  border-bottom: 1px solid rgba(231, 231, 231, 0.9058823529);
}
.PlaylistInfoContainer > .PlaylistInfoRow .InputBox {
  width: 40%;
  outline: none;
  border: none;
  border-bottom: 1px solid #c7c7cb;
  text-align: right;
}
.PlaylistInfoContainer > .PlaylistInfoRow .PlaylistTypeBox {
  width: 30%;
}

.ControlsWrapper {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.ControlsWrapper > .ControlItem {
  margin-left: 5px;
}