.SettingPage {
  display: flex;
  flex-direction: column;
}
.SettingPage .SideMenu {
  position: fixed;
  top: 10px;
}
.SettingPage .SideMenu .MenuItem {
  padding: 8px;
  display: flex;
  align-items: center;
  font-size: 18px;
  border-radius: 6px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.SettingPage .SideMenu .MenuItem.NotImpl {
  cursor: not-allowed;
}
.SettingPage .SideMenu .MenuItem .Icon {
  margin-right: 10px;
}
.SettingPage .SideMenu .MenuItem:hover {
  background-color: #dfdfe5;
}
.SettingPage .Body {
  flex: 1;
  margin-left: 208px;
  min-height: 100%;
  overflow-y: auto;
}
.SettingPage .Body .SettingContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.SettingPage .Body .SettingContent.M0 {
  margin-top: 0;
}
.SettingPage .Body .SettingContent.SubContent {
  margin-top: 3px;
  margin-left: 20px;
}
.SettingPage .Body .SettingContent.SubContent .Title {
  font-size: 15px;
}
.SettingPage .Body .SettingContent .Title {
  font-size: 18px;
}
.SettingPage .Body .SettingContent .Icon {
  margin-right: 8px;
  color: #87ceeb;
}
.SettingPage .Body .SettingContent .Icon.Danger {
  color: #ff69b4;
}
.SettingPage .Body .SettingContent .Select,
.SettingPage .Body .SettingContent .Input {
  width: 40%;
}
.SettingPage .Body .ContentWrapper {
  margin-left: 16px;
}
.SettingPage .Body .Separator {
  border: 1px solid rgba(87, 86, 86, 0.9058823529);
  margin: 40px 5px;
}

.FilePage .Detail {
  margin: 0 20px;
}

.ImportPage .NiconicomeImport .InputContainer,
.ImportPage .XenoImport .InputContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 8px;
}
.ImportPage .NiconicomeImport .InputContainer .Label,
.ImportPage .XenoImport .InputContainer .Label {
  margin-left: 20px;
  width: 240px;
}
.ImportPage .NiconicomeImport .InputContainer .Input,
.ImportPage .XenoImport .InputContainer .Input {
  margin-left: 10px;
  outline: none;
  border: none;
  border-bottom: solid 2px rgba(231, 231, 231, 0.9058823529);
  flex: 1;
}
.ImportPage .XenoImport .MessageContainer {
  margin-top: 20px;
  margin-left: 20px;
  border: 1px rgba(231, 231, 231, 0.9058823529) solid;
}
.ImportPage .XenoImport .MessageContainer .Message {
  padding: 8px;
}

.FilePage .TitleContainer,
.RestorePage .TitleContainer {
  display: flex;
  align-items: center;
}
.FilePage .TitleContainer .Icon,
.RestorePage .TitleContainer .Icon {
  margin-right: 8px;
  color: #ff69b4;
}
.FilePage .ReplaceSettingsContainer,
.FilePage .BackupSettingsContainer,
.RestorePage .ReplaceSettingsContainer,
.RestorePage .BackupSettingsContainer {
  margin-top: 18px;
  margin-left: 16px;
}
.FilePage .ReplaceSettingsContainer .RulesList .ReplaceListHeader,
.FilePage .ReplaceSettingsContainer .RulesList .BackupListHeader,
.FilePage .ReplaceSettingsContainer .BackupList .ReplaceListHeader,
.FilePage .ReplaceSettingsContainer .BackupList .BackupListHeader,
.FilePage .BackupSettingsContainer .RulesList .ReplaceListHeader,
.FilePage .BackupSettingsContainer .RulesList .BackupListHeader,
.FilePage .BackupSettingsContainer .BackupList .ReplaceListHeader,
.FilePage .BackupSettingsContainer .BackupList .BackupListHeader,
.RestorePage .ReplaceSettingsContainer .RulesList .ReplaceListHeader,
.RestorePage .ReplaceSettingsContainer .RulesList .BackupListHeader,
.RestorePage .ReplaceSettingsContainer .BackupList .ReplaceListHeader,
.RestorePage .ReplaceSettingsContainer .BackupList .BackupListHeader,
.RestorePage .BackupSettingsContainer .RulesList .ReplaceListHeader,
.RestorePage .BackupSettingsContainer .RulesList .BackupListHeader,
.RestorePage .BackupSettingsContainer .BackupList .ReplaceListHeader,
.RestorePage .BackupSettingsContainer .BackupList .BackupListHeader {
  display: flex;
}
.FilePage .ReplaceSettingsContainer .RulesList .RulesListBody .RulesListRow .BackupListRow,
.FilePage .ReplaceSettingsContainer .RulesList .BackupListBody .RulesListRow .BackupListRow,
.FilePage .ReplaceSettingsContainer .BackupList .RulesListBody .RulesListRow .BackupListRow,
.FilePage .ReplaceSettingsContainer .BackupList .BackupListBody .RulesListRow .BackupListRow,
.FilePage .BackupSettingsContainer .RulesList .RulesListBody .RulesListRow .BackupListRow,
.FilePage .BackupSettingsContainer .RulesList .BackupListBody .RulesListRow .BackupListRow,
.FilePage .BackupSettingsContainer .BackupList .RulesListBody .RulesListRow .BackupListRow,
.FilePage .BackupSettingsContainer .BackupList .BackupListBody .RulesListRow .BackupListRow,
.RestorePage .ReplaceSettingsContainer .RulesList .RulesListBody .RulesListRow .BackupListRow,
.RestorePage .ReplaceSettingsContainer .RulesList .BackupListBody .RulesListRow .BackupListRow,
.RestorePage .ReplaceSettingsContainer .BackupList .RulesListBody .RulesListRow .BackupListRow,
.RestorePage .ReplaceSettingsContainer .BackupList .BackupListBody .RulesListRow .BackupListRow,
.RestorePage .BackupSettingsContainer .RulesList .RulesListBody .RulesListRow .BackupListRow,
.RestorePage .BackupSettingsContainer .RulesList .BackupListBody .RulesListRow .BackupListRow,
.RestorePage .BackupSettingsContainer .BackupList .RulesListBody .RulesListRow .BackupListRow,
.RestorePage .BackupSettingsContainer .BackupList .BackupListBody .RulesListRow .BackupListRow {
  display: flex;
}
.FilePage .ReplaceSettingsContainer .RulesList .ItemColumn,
.FilePage .ReplaceSettingsContainer .BackupList .ItemColumn,
.FilePage .BackupSettingsContainer .RulesList .ItemColumn,
.FilePage .BackupSettingsContainer .BackupList .ItemColumn,
.RestorePage .ReplaceSettingsContainer .RulesList .ItemColumn,
.RestorePage .ReplaceSettingsContainer .BackupList .ItemColumn,
.RestorePage .BackupSettingsContainer .RulesList .ItemColumn,
.RestorePage .BackupSettingsContainer .BackupList .ItemColumn {
  padding: 8px;
  height: 100%;
  display: inline-block;
}
.FilePage .ReplaceSettingsContainer .RulesList .HeaderColumn,
.FilePage .ReplaceSettingsContainer .BackupList .HeaderColumn,
.FilePage .BackupSettingsContainer .RulesList .HeaderColumn,
.FilePage .BackupSettingsContainer .BackupList .HeaderColumn,
.RestorePage .ReplaceSettingsContainer .RulesList .HeaderColumn,
.RestorePage .ReplaceSettingsContainer .BackupList .HeaderColumn,
.RestorePage .BackupSettingsContainer .RulesList .HeaderColumn,
.RestorePage .BackupSettingsContainer .BackupList .HeaderColumn {
  background-color: #f2f3f5;
  padding: 2px 8px;
}
.FilePage .ReplaceSettingsContainer .RulesList .ItemColumn:not(:last-child),
.FilePage .ReplaceSettingsContainer .BackupList .ItemColumn:not(:last-child),
.FilePage .BackupSettingsContainer .RulesList .ItemColumn:not(:last-child),
.FilePage .BackupSettingsContainer .BackupList .ItemColumn:not(:last-child),
.RestorePage .ReplaceSettingsContainer .RulesList .ItemColumn:not(:last-child),
.RestorePage .ReplaceSettingsContainer .BackupList .ItemColumn:not(:last-child),
.RestorePage .BackupSettingsContainer .RulesList .ItemColumn:not(:last-child),
.RestorePage .BackupSettingsContainer .BackupList .ItemColumn:not(:last-child) {
  border-right: 1px solid rgba(231, 231, 231, 0.9058823529);
}
.FilePage .ReplaceSettingsContainer .RulesList .Selected,
.FilePage .ReplaceSettingsContainer .BackupList .Selected,
.FilePage .BackupSettingsContainer .RulesList .Selected,
.FilePage .BackupSettingsContainer .BackupList .Selected,
.RestorePage .ReplaceSettingsContainer .RulesList .Selected,
.RestorePage .ReplaceSettingsContainer .BackupList .Selected,
.RestorePage .BackupSettingsContainer .RulesList .Selected,
.RestorePage .BackupSettingsContainer .BackupList .Selected {
  width: 30px;
}
.FilePage .ReplaceSettingsContainer .RulesList .Name,
.FilePage .ReplaceSettingsContainer .BackupList .Name,
.FilePage .BackupSettingsContainer .RulesList .Name,
.FilePage .BackupSettingsContainer .BackupList .Name,
.RestorePage .ReplaceSettingsContainer .RulesList .Name,
.RestorePage .ReplaceSettingsContainer .BackupList .Name,
.RestorePage .BackupSettingsContainer .RulesList .Name,
.RestorePage .BackupSettingsContainer .BackupList .Name {
  width: 300px;
}
.FilePage .ReplaceSettingsContainer .RulesList .CreatedOn,
.FilePage .ReplaceSettingsContainer .BackupList .CreatedOn,
.FilePage .BackupSettingsContainer .RulesList .CreatedOn,
.FilePage .BackupSettingsContainer .BackupList .CreatedOn,
.RestorePage .ReplaceSettingsContainer .RulesList .CreatedOn,
.RestorePage .ReplaceSettingsContainer .BackupList .CreatedOn,
.RestorePage .BackupSettingsContainer .RulesList .CreatedOn,
.RestorePage .BackupSettingsContainer .BackupList .CreatedOn {
  width: 400px;
}
.FilePage .ReplaceSettingsContainer .RulesList .Size,
.FilePage .ReplaceSettingsContainer .BackupList .Size,
.FilePage .BackupSettingsContainer .RulesList .Size,
.FilePage .BackupSettingsContainer .BackupList .Size,
.RestorePage .ReplaceSettingsContainer .RulesList .Size,
.RestorePage .ReplaceSettingsContainer .BackupList .Size,
.RestorePage .BackupSettingsContainer .RulesList .Size,
.RestorePage .BackupSettingsContainer .BackupList .Size {
  width: 200px;
}
.FilePage .ReplaceSettingsContainer .BackupControlsContainer,
.FilePage .BackupSettingsContainer .BackupControlsContainer,
.RestorePage .ReplaceSettingsContainer .BackupControlsContainer,
.RestorePage .BackupSettingsContainer .BackupControlsContainer {
  margin-top: 30px;
  margin-left: 10px;
}
.FilePage .ReplaceSettingsContainer .BackupControlsContainer .Label,
.FilePage .BackupSettingsContainer .BackupControlsContainer .Label,
.RestorePage .ReplaceSettingsContainer .BackupControlsContainer .Label,
.RestorePage .BackupSettingsContainer .BackupControlsContainer .Label {
  margin-right: 8px;
  font-weight: bold;
}
.FilePage .ReplaceSettingsContainer .BackupControlsContainer .Input,
.FilePage .BackupSettingsContainer .BackupControlsContainer .Input,
.RestorePage .ReplaceSettingsContainer .BackupControlsContainer .Input,
.RestorePage .BackupSettingsContainer .BackupControlsContainer .Input {
  outline: none;
  border: none;
  border-bottom: 2px solid rgba(231, 231, 231, 0.9058823529);
  width: 50%;
  margin-right: 8px;
}
.FilePage .ReplaceSettingsContainer .BackupControlsContainer .Button,
.FilePage .BackupSettingsContainer .BackupControlsContainer .Button,
.RestorePage .ReplaceSettingsContainer .BackupControlsContainer .Button,
.RestorePage .BackupSettingsContainer .BackupControlsContainer .Button {
  margin-left: 4px;
}
.FilePage .DirectorySettingsContainer,
.RestorePage .DirectorySettingsContainer {
  margin-top: 18px;
}
.FilePage .DirectorySettingsContainer .DirectoryList .DirectoryListHeader,
.RestorePage .DirectorySettingsContainer .DirectoryList .DirectoryListHeader {
  display: flex;
  justify-content: stretch;
}
.FilePage .DirectorySettingsContainer .DirectoryList .DirectoryListBody .DirectoryListRow,
.RestorePage .DirectorySettingsContainer .DirectoryList .DirectoryListBody .DirectoryListRow {
  display: flex;
  justify-content: stretch;
}
.FilePage .DirectorySettingsContainer .DirectoryList .ItemColumn,
.RestorePage .DirectorySettingsContainer .DirectoryList .ItemColumn {
  padding: 8px;
  height: 100%;
  display: inline-block;
}
.FilePage .DirectorySettingsContainer .DirectoryList .HeaderColumn,
.RestorePage .DirectorySettingsContainer .DirectoryList .HeaderColumn {
  background-color: #f2f3f5;
  padding: 2px 8px;
}
.FilePage .DirectorySettingsContainer .DirectoryList .ItemColumn:not(:last-child),
.RestorePage .DirectorySettingsContainer .DirectoryList .ItemColumn:not(:last-child) {
  border-right: 1px solid rgba(231, 231, 231, 0.9058823529);
}
.FilePage .DirectorySettingsContainer .DirectoryList .Selected,
.RestorePage .DirectorySettingsContainer .DirectoryList .Selected {
  width: 30px;
}
.FilePage .DirectorySettingsContainer .DirectoryList .Path,
.RestorePage .DirectorySettingsContainer .DirectoryList .Path {
  flex: 1;
}
.FilePage .DirectorySettingsContainer .DirectoryControlsContainer,
.RestorePage .DirectorySettingsContainer .DirectoryControlsContainer {
  margin-top: 30px;
  margin-left: 10px;
}
.FilePage .DirectorySettingsContainer .DirectoryControlsContainer .Label,
.RestorePage .DirectorySettingsContainer .DirectoryControlsContainer .Label {
  margin-right: 8px;
  font-weight: bold;
}
.FilePage .DirectorySettingsContainer .DirectoryControlsContainer .Input,
.RestorePage .DirectorySettingsContainer .DirectoryControlsContainer .Input {
  outline: none;
  border: none;
  border-bottom: 2px solid rgba(231, 231, 231, 0.9058823529);
  width: 50%;
  margin-right: 8px;
}
.FilePage .DirectorySettingsContainer .DirectoryControlsContainer .Button,
.RestorePage .DirectorySettingsContainer .DirectoryControlsContainer .Button {
  margin-left: 4px;
}
.FilePage .DirectorySettingsContainer .LoadVideoDescription,
.RestorePage .DirectorySettingsContainer .LoadVideoDescription {
  margin: 20px 10px;
}
.FilePage .DataCleaningDescription,
.RestorePage .DataCleaningDescription {
  margin: 20px 10px;
}
.FilePage .DangerZoneContainer,
.RestorePage .DangerZoneContainer {
  background-color: #f8d7da;
  color: #842029;
  border-radius: 8px;
  padding: 16px;
}
.FilePage .DangerZoneContainer .DangerZoneBody,
.RestorePage .DangerZoneContainer .DangerZoneBody {
  margin-left: 16px;
}

.DebugPage .LogFilePath {
  margin-left: 20px;
  margin-top: 8px;
  background-color: #383638;
  color: white;
  padding: 8px;
}

.AppInfoPage .LicenseList {
  margin-top: 16px;
}
.AppInfoPage .LicenseList .LicenseContent {
  display: flex;
  justify-content: space-between;
}