.VideotitleContainer {
  margin: 0 auto;
  width: calc(700px + 400px);
}

.VideoContentContainer {
  display: flex;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  width: calc(700px + 400px);
  margin: 16px auto;
}
.VideoContentContainer .VideoElement {
  width: 700px;
  height: calc(700px / 16 * 9);
}
.VideoContentContainer .VideoElement #video-player {
  width: 100%;
  height: 100%;
}
.VideoContentContainer .VideoInfoContainer {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 8px;
  background-color: #fff;
}
.VideoContentContainer .VideoInfoContainer .VideoInfoRow {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}
.VideoContentContainer .VideoInfoContainer .VideoInfoRow a {
  color: #069;
  text-decoration: none;
}
.VideoContentContainer .VideoInfoContainer .VideoInfoRow a:hover {
  text-decoration: underline;
}
.VideoContentContainer .VideoInfoContainer .VideoInfoRow .UserVideos {
  border: 1px solid;
  padding: 3px;
  border-radius: 5px;
}
.VideoContentContainer .VideoInfoContainer .VideoInfoRow .VideoInfoIcon {
  margin-right: 6px;
  color: #8b888f;
}
.VideoContentContainer .VideoInfoContainer .VideoInfoRow .VideoInfoIcon.Like {
  color: #e26775;
}
.VideoContentContainer .VideoInfoContainer .VideoInfoRow .Downloaded {
  color: #7bd889;
}
.VideoContentContainer .VideoInfoContainer .VideoInfoRow .NotDownloaded {
  color: #ff3300;
}

.TagContainer {
  width: calc(700px + 400px);
  margin: 16px auto;
  overflow: hidden;
}
.TagContainer .Tag {
  margin-right: 16px;
  margin-bottom: 8px;
  border: 1px solid #e5e8ea;
  border-radius: 12px;
  padding: 0 10px;
  list-style: none;
  height: 24px;
  line-height: 24px;
  float: left;
}
.TagContainer .Tag .TagName {
  color: #32475e;
  font-weight: 600;
  font-size: 13px;
  text-decoration: none;
}
.TagContainer .Tag .TagName:hover {
  text-decoration: underline;
}
.TagContainer .Tag .TagIcon {
  margin-left: 4px;
}
.TagContainer .Tag .TagIcon.NicoDic {
  color: #b20000;
}
.TagContainer .Tag .TagIcon.Question {
  color: #b2bac2;
}

.ControlsContainer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: calc(700px + 400px);
}