p {
    margin-bottom: 0 !important;
}

.Alert {
    position: fixed;
    display: flex;
    top: 8px;
    right: 8px;
    left: 8px;
    justify-content: space-between;
    align-items: center;

    .btn.Hide {
        display: none;
    } 

    &.Hide {
        display: none;
    }

}