p {
    margin-bottom: 0 !important;
}

.Alert {
    position: fixed;
    display: flex;
    top: 8px;
    right: 8px;
    left: 8px;
    justify-content: space-between;
    align-items: center;

    .btn.Hide {
        display: none;
    } 

    &.Hide {
        display: none;
    }

}

.tabContainer {
    display: flex;
    align-items: center;
    margin: 8px;
    border-bottom: 1px solid #e7e7e7e7;
    height: 40px;

    .tab {
        width: 150px;
        padding: 4px;
        border: 1px solid #e7e7e7e7;
        border-radius: 4px;
        margin-right: 4px;
        cursor: pointer;
        transition: background-color 0.2s;

        display: flex;
        justify-content: space-between;

        .close {
            color: red;

            &:hover {
                color: darkred;
            }
        }
    }
}