@inherits LayoutComponentBase

<HeadContent>
    <link rel="stylesheet" href="http://localhost:@Niconicome.Workspaces.Mainpage.LocalState.Port/niconicome/css/userChrome.css" />
</HeadContent>
<div class="Content">
    @Body
</div>
